@using Sitecore.Feature.MultivariateTest.Models
@using Sitecore.ContentTesting.Model.Data.Items;
@using Sitecore.ContentTesting;
@model string
<div>
    <h1>Tests</h1>

    <ul>
        <li>@ObjectInfo.Print(Model)</li>
    </ul>
</div>