@using Sitecore.Feature.MultivariateTest.Models
@using Sitecore.ContentTesting.ContentSearch.Models;
@model IEnumerable<TestingSearchResultItem>
<div>
    <h1>Tests</h1>

    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Uri</li>
        }
    </ul>
</div>