@using Sitecore.Data;
@model string
<div>
    <h1>Tests</h1>

    @*<p>@Model.Count</p>

    <ul>
        @foreach (var item in Model)
        {
            <li>@ObjectInfo.Print(item)</li>
        }
    </ul>*@

    <p>@ObjectInfo.Print(Model)</p>
</div>