<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Feature.MultivariateTest" dependencies="Foundation.Serialization">
                    <targetDataStore physicalRootPath="$(sourceFolder)\feature\MultivariateTest\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <dataProviderConfiguration type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" enableTransparentSync="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Templates" database="master" path="/sitecore/templates/Feature/MultivariateTest" />
                        <include name="Renderings" database="master" path="/sitecore/layout/renderings/Feature/MultivariateTest" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>